/*
    Main styling
*/
html, html body {
    $assets: "/themes/drupal-theme-szwejku/style/assets";
    background: url($assets+'/bg.webp');
    font-size: 18px;
    line-height: 1.3rem;
    color: $primary;
}

html body {
    a {
        color: $tertiary;
    &:hover {
        color: $love;
    }
    }
}
