main {
    max-width: 1110px;
    margin: auto;
}

header#main-header {
    position: fixed;
    top: 0;
    left:0;
    background: url(../../images/texture.png), linear-gradient(#161616 50%, #fc0 50%);
    box-shadow: 0px 0px 8px 1px #000000;
    height: 3.5rem;
    z-index: 1000;
    border-radius: unset;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
header#main-header > * {
    min-width: 20%;
}
#block-szwejku-branding img{
    height: 145%;
}
/* Views list */
.view-list{
    list-style: none;
    display: flex;
}
.view-list li{
    flex: 1 1 30%;
}