/* Global settings */
html, html body {
    background: url(../../images/bg.webp);
    font-family: Forum, serif;
    font-size: 19px;
    line-height: 1.5rem;
    margin-top: 2.5rem;
}
h1, h2, h3, h4 {
    font-family: Aladin, fantasy;
}
h5, h6 {
    font-weight: bolder;
}
/* Links styling */
a {
    color: var(--links);
    text-decoration: unset;
}
a:hover, a:active {
    color: var(--love);
    text-decoration: dotted;
}
/* Basic article style */
article {
    display: block;
    background: floralwhite;
    border-radius: 2px;
    box-shadow: 0 0 6px #161616c0;
    padding: 5px;
    margin: 5px;
    width: 100%;
}